<div class="nutritions">
	<div class="nutrition-left col-xs-12 col-md-8">

		<div class="category_box yingyang">
				<div class="category_title clear" style="padding:0 0 10px 0">
					<span>Nutrient</span>
				</div>
				<div class="category_sub  clear">
					<div class="category_sub2 clear" style="max-height:8888px">
						<a ng-repeat="nutrition in viewScope.nutritions" ng-if=" nutrition.type == 'nutrient' " class="col-xs-3 col-md-2" href="#/nutrition_detail/{{ nutrition.name }}">{{ nutrition.name }}</a>
					</div>
				</div>
			</div>
	<div class="category_box yingyang mt20">
				<div class="category_title clear" style="padding:0 0 10px 0">
					<span>Mineral</span>
				</div>
				<div class="category_sub  clear">
					<div class="category_sub2 clear" style="max-height:8888px">
						<a ng-repeat="nutrition in viewScope.nutritions" ng-if=" nutrition.type == 'mineral' " class="col-xs-3 col-md-2" href="#/nutrition_detail/{{ nutrition.name }}">{{ nutrition.name }}</a>
					</div>
				</div>
			</div>

	</div>
	<div class="nutrition-right col-xs-12 col-md-4">
	</div>
</div>