<div class="nutrition-detail">
	<div class="nutritionDetail-left col-xs-12 col-md-9">
		<div class="ui_nav_box2 yingyang clear">
			<div class="categoryTitle_R clear">
				<div class="categoryTitle clear">
					<h2 id="category_title">Vitamin A(retinol)</h2>
				</div>
			<div class="category_txt" id="category_txt">
				<div id="category_txt1">
					<div>
					<font face="Heiti SC Light">Vitamin A is A fat-soluble substances, it needs the digestion and absorption of the participation of minerals and fat, can be stored in the body, don't need daily supplies.Vitamin A has two kinds: one kind is vitamin A alcohol, is the first form of vitamin A, only exists in animal food.Another kind is carotene, in the body into vitamin A into material, are available from plant and animal food intake.</font>
					</div>
					<div><font face="Heiti SC Light"><br></font></div>
					<div><font face="Heiti SC Light"><b>Effect of vitamin A：</b></font></div>
					<div><font face="Heiti SC Light">1、The prevention and treatment of night blindness and vision loss, helps in the treatment of a variety of eye diseases；&nbsp;</font></div>
					<div><font face="Heiti SC Light">2、Have respiratory infections；&nbsp;</font></div>
					<div><font face="Heiti SC Light">3、Help the immune system function normally；&nbsp;</font></div>
					<div><font face="Heiti SC Light">4、Sick will recover soon；&nbsp;</font></div>
					<div><font face="Heiti SC Light">5、To maintain a tissue or organ table of health；&nbsp;</font></div>
					<div><font face="Heiti SC Light">6、Help to remove age spots；&nbsp;</font></div>
					<div><font face="Heiti SC Light">7、Promote the development, strong bones, safeguarding the health of skin, hair, teeth, gums；&nbsp;</font></div>
					<div><font face="Heiti SC Light">8、Help of emphysema, the treatment of hyperthyroidism。</font></div>
					<div><font face="Heiti SC Light"><b>Vitamin A recommended daily intake：</b></font></div>
					<div><font face="Heiti SC Light">As for the general adult male，5000IU(International unit)(1IU=0.3mg)To prevent deficiency；Women need 4000IU。the latest recommended intake during pregnancy does not suggest increase;But if you're a nursing mom, in the first six months but for an additional 2500 iu, while after 6 months to consume an extra 2000 iu。</font></div>
					<div><font face="Heiti SC Light"><b>Vitamin A supplements cycle：</b></font></div>
					<div><font face="Heiti SC Light">Recommended daily supplement。</font></div>
					<div><font face="Heiti SC Light">Excess vitamin A performance：</font></div>
					<div><font face="Heiti SC Light">Often allergic, symptoms such as fever, diarrhea, and the symptoms will take 6 hours in excess。</font></div>
					<br/><p><strong>Food origin</strong></p>
					<p>Liver, yellow and green vegetables such as carrots, white radish, yellow fruit, eggs, milk, dairy products, fish liver oil, etc.</p>
					<p><strong>To the crowd</strong></p><p>Winnowing fat malabsorption, if have disease of digestive tract, gastric bowel resection, often leads to A lack of vitamin A.This situation often happens to children under the age of five, mainly because of inadequate dietary intake.

					Vitamin A for long-term wear contact lenses or have to look at A computer screen for A long time, but also important nutrients.
					Pregnant women and breast-feeding women vitamin A is also need。</p>
					<p><strong>deficiency</strong></p>
					<p>A severe lack of vitamin A for A long time, can lead to dry eyes of night blindness, and even can lead to blindness.</p>
					</div>
					</div>
					<div id="category_txt_show" style="display: block;"><a href="javascript:void(0);">Collapse</a></div>
					</div>

					</div>

		<div class="mt10">
            <div class="ui_title">
				<div class="ui_title_wrap clear">
					<a class="on">What are the food for vitamin A (Retinol)</a> 
					<span class="ui_title_wrap_right"> Content per kilogram(mg)</span>
				</div>
            </div>
			
        </div>
		<div class="category_box yingyang mt20">
			
			<div class="category_sub  clear">
				<div class="category_sub2_new clear">
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Beef liver<span>20220</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Chicken liver<span>10414</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Foie gras<span>6100</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Pork liver<span>4972</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Okra<span>2818.00</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Chinese wolfberry<span>1625</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Lotus root<span>1592.00</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Broccoli<span>1202</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Duck liver<span>1040</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Chicken heart<span>910</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Spinach<span>487</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Mung beans<span>445</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Lettuce leaf<span>432.00</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Shepherd's purse<span>432</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Watercress sauce<span>417</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Nori<span>403</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Steak<span>371.30</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Day lily<span>357</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Amaranth<span>352</span></a>
					<a class="col-xs-3 col-md-2" href="#/ingredient_detail">Malan head<span>340</span></a>
				</div>
			</div>
		</div>



	</div>
	<div class="nutrionDetail-right col-xs-12 col-md-3">
	</div>
</div>