*~
#*#
source/web/index.html
source/web/index.html
.idea/.name
source/android/Nourriture/.idea/gradle.xml
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/nourriture-7.iml
source/android/Nourriture/.idea/modules.xml
source/android/Nourriture/.idea/compiler.xml
source/android/Nourriture/.idea/gradle.xml
source/android/Nourriture/.idea/compiler.xml
source/android/Nourriture/.idea/vcs.xml
source/android/Nourriture/app/app.iml
source/android/Nourriture/app/src/main/java/com/android/nurriture/util/HttpUtil.java
.idea/workspace.xml
.idea/vcs.xml
source/android/Nourriture/.idea/modules.xml
source/android/Nourriture/app/src/main/java/com/android/nourriture/nourriture/MyFragmentActivity.java
*.java
