<!-- account-page -->
<div id="account">
	<div class="container">
		<div class="row">
			<div class="col-md-3 account-action">
				<a href="#/ingredients/add">
					<div><i class="fa fa-5x fa-user"></i></div>
					Add ingredient
				</a>
			</div>
			<div class="col-md-3 account-action">
				<a href="#/recipes/add">
					<div><i class="fa fa-5x fa-user"></i></div>
					Add recipe
				</a>
			</div>
			<div class="col-md-3 account-action">
				<a href="#/recipes/mine">
					<div><i class="fa fa-5x fa-user"></i></div>
					My recipes
				</a>
			</div>
			<div class="col-md-3 account-action">
				<div><i class="fa fa-5x fa-user"></i></div>
			</div>
		</div>
	</div>
</div>	