<div class="ingredients">
	<div class="meet-category col-xs-12 col-md-8">
		<div class="meet-list">
			<h2 class="fd_tit">meet
			</h2>
			<dl class="row fd_dl">
				<dt>pork</dt>
				<dd class="fd_dd">
					<a href="#/recipes_detail">
						<img src="../public/images/pork.jpg" alt="pork">
						pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/pork.jpg" alt="pork">
						pork ribs
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/pork.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/pork.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/pork.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/pork.jpg" alt="pork">
						streaky pork
					</a>
					<span class="fd_dlm"><strong>more</strong></span>
				</dd>
			</dl>
			<dl class="row fd_dl">
				<dt>sheep</dt>
				<dd class="fd_dd">
					<a href="#/recipes_detail">
						<img src="../public/images/sheep.jpg" alt="pork">
						mutton
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/sheep.jpg" alt="pork">
						lamb chop
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/sheep.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/sheep.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/sheep.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/sheep.jpg" alt="pork">
						streaky pork
					</a>
					<span class="fd_dlm"><strong>more</strong></span>
				</dd>
			</dl>
		</div>
	</div>
	<div class="meet-recommand col-xs-12 col-md-4">
	fff
	</div>
</div>