<div class="ingredients">
	<div class="meet-category col-xs-12 col-md-12">
		<div class="meet-list">
			<h2 class="fd_tit">Meet</h2>
			<dl class="row fd_dl">
				<dt>Pork</dt>
				<dd class="fd_dd">
					<a href="#/ingredient_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						pork ribs
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet5.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet6.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet5.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet6.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet6.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet5.jpg" alt="pork">
						streaky pork
					</a>
					<span class="fd_dlm"><strong>more</strong></span>
				</dd>
			</dl>
			<dl class="row fd_dl">
				<dt>Mutton</dt>
				<dd class="fd_dd">
					<a href="#/recipes_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						mutton
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						lamb chop
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet5.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet6.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						pork ribs
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<span class="fd_dlm"><strong>more</strong></span>
				</dd>
			</dl>
			<dl class="row fd_dl">
				<dt>Beef</dt>
				<dd class="fd_dd">
					<a href="#/recipes_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						mutton
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						lamb chop
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet5.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet6.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						pork ribs
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<span class="fd_dlm"><strong>more</strong></span>
				</dd>
			</dl>
			<dl class="row fd_dl">
				<dt>Chicken</dt>
				<dd class="fd_dd">
					<a href="#/recipes_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						mutton
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						lamb chop
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet5.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet6.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						pork ribs
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<span class="fd_dlm"><strong>more</strong></span>
				</dd>
			</dl>
			<dl class="row fd_dl">
				<dt>Duck</dt>
				<dd class="fd_dd">
					<a href="#/recipes_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						mutton
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						lamb chop
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet5.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet6.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						pork ribs
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<span class="fd_dlm"><strong>more</strong></span>
				</dd>
			</dl>
			<dl class="row fd_dl">
				<dt>Product</dt>
				<dd class="fd_dd">
					<a href="#/recipes_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						mutton
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						lamb chop
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet5.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet6.jpg" alt="pork">
						streaky pork
					</a>
				</dd>
			</dl>
			<dl class="row fd_dl">
				<dt>Other</dt>
				<dd class="fd_dd">
					<a href="#/recipes_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						mutton
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						lamb chop
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet5.jpg" alt="pork">
						streaky pork
					</a>
					
				</dd>
			</dl>
			
			<h2 class="fd_tit">Vegetable</h2>
			<dl class="row fd_dl">
				<dt>Vegetable</dt>
				<dd class="fd_dd">
					<a href="#/recipes_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						pork ribs
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet5.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet6.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						pork ribs
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<span class="fd_dlm"><strong>more</strong></span>
				</dd>
			</dl>
			<dl class="row fd_dl">
				<dt>Bacteria</dt>
				<dd class="fd_dd">
					<a href="#/recipes_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						mutton
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						lamb chop
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet5.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet6.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						pork ribs
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<span class="fd_dlm"><strong>more</strong></span>
				</dd>
			</dl>
			<dl class="row fd_dl">
				<dt>Pickles</dt>
				<dd class="fd_dd">
					<a href="#/recipes_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						mutton
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						lamb chop
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet5.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet6.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						pork ribs
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<span class="fd_dlm"><strong>more</strong></span>
				</dd>
			</dl>
			<dl class="row fd_dl">
				<dt>Eggs</dt>
				<dd class="fd_dd">
					<a href="#/recipes_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						mutton
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						lamb chop
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet5.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet6.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet1.jpg" alt="pork">
						pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet2.jpg" alt="pork">
						pork ribs
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet3.jpg" alt="pork">
						streaky pork
					</a>
					<a href="#/recipes_detail">
						<img src="../public/images/meet4.jpg" alt="pork">
						streaky pork
					</a>
					<span class="fd_dlm"><strong>more</strong></span>
				</dd>
			</dl>
		</div>
	</div>
	<div class="meet-recommand col-xs-12 col-md-12">
	</div>
</div>