<div class="ingredint-detail">
	<div class="brief-intro clear">
		<div class="scic">
			<img src="../public/images/eggplant.jpg">
		</div>
		<div class="scintro">
			<h1 class="ingredient-title">Beef</h1>
			<p><span>Calories：</span>125c（100g）</p>
			<p><span>Category：</span><a target="_blank" href="/shicai/65">Meet</a>, <a target="_blank" href="/shicai/65/18">beef</a></p>
            <p><span>Suitable group：</span>
			In the general population are edible.Suitable for the growth and development, and postoperative disease aftercare and gas after Cain, shortness of breath virtual body, bones and muscles weakness, anemia, long illness and yellow dizzy of human consumption;
			</p>
		</div>
	</div>
	<div class="detail-intro row">
		<div class="detail-left col-md-8">
			<div class="ui_title">
				<div class="ui_title_wrap clear ">
					<data ng-init="currentTab = 'method'" />
					<a ng-click="currentTab = 'method'" ng-class="(currentTab == 'method') ? 'on' : ''">Method</a>
					<a ng-click="currentTab = 'avoid'" ng-class="(currentTab == 'avoid') ? 'on' : ''">Combing & Transformation</a>
					<a ng-click="currentTab = 'nutrition'" ng-class="(currentTab == 'nutrition') ? 'on' : ''">Nutrition</a>
				</div>
			</div>

			<div ng-include="'/views/ingredient-details/ingredient_avoid.html'" ng-show="currentTab == 'avoid'"></div>
			<div ng-include="'/views/ingredient-details/ingredient_nutrition.html'" ng-show="currentTab == 'nutrition'"></div>
			<div ng-include="'/views/ingredient-details/ingredient_method.html'" ng-show="currentTab == 'method'"></div>
		</div>
		
		<div class="detail-right col-md-4">
		<div class="ui_title">
				<div class="ui_title_wrap clear">
					<a href="#">Nutritional Components</a>
				</div>
		</div>
		<div class="category_use_table clear">
					<ul class="clear">
						<li>Heat(c)&nbsp;<span>(76)</span></li>
						<li>K(mg)&nbsp;<span>(342)</span></li>
						<li>P(mg)&nbsp;<span>(40)</span></li>
						<li>Carotenoids(mcg)&nbsp;<span>(30)</span></li>
						<li>Vitamin C(mg)&nbsp;<span>(27)</span></li>
						<li>Mg(mg)&nbsp;<span>(23)</span></li>
						<li>Carbohydrates(g)&nbsp;<span>(17.2)</span></li>
						<li>Ca(mg)&nbsp;<span>(8)</span></li>
						<li>Vitamin A(mcg)&nbsp;<span>(5)</span></li>
						<li>Na(mg)&nbsp;<span>(2.7)</span></li>
						<li>Protein(g)&nbsp;<span>(2)</span></li>
						<li>Niacin(mg)&nbsp;<span>(1.1)</span></li>
						<li>Fe(mg)&nbsp;<span>(0.8)</span></li>
						<li>Se(mcg)&nbsp;<span>(0.78)</span></li>
						<li>DF(g)&nbsp;<span>(0.7)</span></li>
						<li>Zn(mg)&nbsp;<span>(0.37)</span></li>
						<li>Vitamin E(mg)&nbsp;<span>(0.34)</span></li>
						<li>Fat(g)&nbsp;<span>(0.2)</span></li>
						<li>Mn(mg)&nbsp;<span>(0.14)</span></li>
						<li>Cu(mg)&nbsp;<span>(0.12)</span></li>
						<li>Vitamin B1(mg)&nbsp;<span>(0.08)</span></li>
						<li>Vitamin B2(mg)&nbsp;<span>(0.04)</span></li>
					</ul>
				<div style="margin-top:-1px;height:2px;float:left;wodth:100%;overflow:hidden;background:#fff;width:100%"> </div>
		</div>
		</div>
	</div>
</div>