<div class="nutritions">
	<div class="nutrition-left col-xs-12 col-md-8">

		<div class="category_box yingyang">
				<div class="category_title clear" style="padding:0 0 10px 0">
					<span>Nutrient</span>
				</div>
				<div class="category_sub  clear">
					<div class="category_sub2 clear" style="max-height:8888px">
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Vitamin A</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Vitamin B1</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Vitamin B2</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Vitamin B3</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Vitamin B5</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Vitamin B6</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Vitamin C</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Vitamin D</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Vitamin E</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Vitamin H</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Vitamin K</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Vitamin P</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Vitamin B11</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Vitamin B12</a>
						<a class="col-xs-3 col-md-2"></a>
						<a class="col-xs-3 col-md-2"></a>
						<a class="col-xs-3 col-md-2"></a>
						<a class="col-xs-3 col-md-2"></a>
					</div>
				</div>
			</div>
	<div class="category_box yingyang mt20">
				<div class="category_title clear" style="padding:0 0 10px 0">
					<span>Mineral</span>
				</div>
				<div class="category_sub  clear">
					<div class="category_sub2 clear" style="max-height:8888px">
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Ca</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Fe</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">P</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">K</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Na</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">I</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Energy</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Mg</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Zn</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Se</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Protein</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Cu</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">F</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Fat</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Cl</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">S</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Mn</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Mo</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Cr</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Co</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">B</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">V</a>
						<a class="col-xs-3 col-md-2" href="#/nutrition_detail">Carbohydrate</a>
					</div>
				</div>
			</div>

	</div>
	<div class="nutrition-right col-xs-12 col-md-4">
	</div>
</div>