<div class="recipes">
	<div class="recipe-sidebar col-md-2">
		<h2>
			<s class="sidebar-head">Recipe Category</s>
		</h2>
		<div class="category-list">
			<dl>
				<dt>Family Recipe</dt>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
			</dl>
			<dl>
				<dt>Chinese Recipe</dt>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
			</dl>
			<dl>
				<dt>French Recipe</dt>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
				<dd>meet</dd>
			</dl>
		</div>
	</div>
	<div class="recipe-main col-md-10">
		
		<div class="recipes-info">
				<div class="col-xs-4 col-md-3 recipe-block">
					<div class="image">
						<a href="#/recipes_detail">
							<img src="../public/images/s1.jpg" alt class="img-responsive">
						</a>
					</div>
					<a href="#/recipes_detail"><h4>BARBECUE WITH VEGETABLES</h4>
					</a>
				</div>
				<div class="col-xs-4 col-md-3 recipe-block">
					<div class="image">
						<a href="#">
							<img src="../public/images/s2.jpg" alt class="img-responsive">
						</a>
					</div>
					<a href="#"><h4>BARBECUE WITH VEGETABLES</h4>
					</a>
				</div>
				<div class="col-xs-4 col-md-3 recipe-block">
					<div class="image">
						<a href="#">
							<img src="../public/images/s3.jpg" alt class="img-responsive">
						</a>
					</div>
					<a href="#"><h4>BARBECUE WITH VEGETABLES</h4>
					</a>
				</div>
				<div class="col-xs-4 col-md-3 recipe-block">
					<div class="image">
						<a href="#">
							<img src="../public/images/s4.jpg" alt class="img-responsive">
						</a>
					</div>
					<a href="#"><h4>BARBECUE WITH VEGETABLES</h4>
					</a>
				</div>
				<div class="col-xs-4 col-md-3 recipe-block">
					<div class="image">
						<a href="#">
							<img src="../public/images/s5.jpg" alt class="img-responsive">
						</a>
					</div>
					<a href="#"><h4>BARBECUE WITH VEGETABLES</h4>
					</a>
				</div>
				<div class="col-xs-4 col-md-3 recipe-block">
					<div class="image">
						<a href="#">
							<img src="../public/images/s6.jpg" alt class="img-responsive">
						</a>
					</div>
					<a href="#"><h4>BARBECUE WITH VEGETABLES</h4>
					</a>
				</div>
				<div class="col-xs-4 col-md-3 recipe-block">
					<div class="image">
						<a href="#">
							<img src="../public/images/s7.jpg" alt class="img-responsive">
						</a>
					</div>
					<a href="#"><h4>BARBECUE WITH VEGETABLES</h4>
					</a>
				</div>
				<div class="col-xs-4 col-md-3 recipe-block">
					<div class="image">
						<a href="#">
							<img src="../public/images/s8.jpg" alt class="img-responsive">
						</a>
					</div>
					<a href="#"><h4>BARBECUE WITH VEGETABLES</h4>
					</a>
				</div>
				<div class="col-xs-4 col-md-3 recipe-block">
					<div class="image">
						<a href="#">
							<img src="../public/images/s9.jpg" alt class="img-responsive">
						</a>
					</div>
					<a href="#"><h4>BARBECUE WITH VEGETABLES</h4>
					</a>
				</div>
				<div class="col-xs-4 col-md-3 recipe-block">
					<div class="image">
						<a href="#">
							<img src="../public/images/s10.jpg" alt class="img-responsive">
						</a>
					</div>
					<a href="#"><h4>BARBECUE WITH VEGETABLES</h4>
					</a>
				</div>
				<div class="col-xs-4 col-md-3 recipe-block">
					<div class="image">
						<a href="#">
							<img src="../public/images/s11.jpg" alt class="img-responsive">
						</a>
					</div>
					<a href="#"><h4>BARBECUE WITH VEGETABLES</h4>
					</a>
				</div>
				<div class="col-xs-4 col-md-3 recipe-block">
					<div class="image">
						<a href="#">
							<img src="../public/images/s12.jpg" alt class="img-responsive">
						</a>
					</div>
					<a href="#"><h4>BARBECUE WITH VEGETABLES</h4>
					</a>
				</div>
		</div>
		<div class="paginations">
			<a href="#">« PREV PAGE</a>
			<span>
				<a href="#">NEXT PAGE »</a>
			</span>
		</div>
		<div class="pages">
		</div>
	</div>
</div>