<div class="category_use_h">土豆的营养功效</div>
	<div class="category_usebox mt10 clear">
	<div><div>

	<P><STRONG>又名马铃薯、洋芋、地蛋、山药蛋</STRONG></P>
	<P>茄科茄属一年生草本。又称马铃薯、洋芋、山药蛋、薯仔(香港、广州人的惯称)等。块茎可供食用，是重要的粮食、蔬菜兼用作物。</P>
	<P>有的学者认为土豆共有7个栽培种，主要分布在南美洲的安第斯山脉及其附近沿海一带的温带和亚热带地区。最重要的土豆栽培种是四倍体种。四倍体栽培种土豆向世界各地传播，最初是于1570年从南美的哥伦比亚将短日照类型引入欧洲的西班牙，经人工选择，成为长日照类型;后又传播到亚洲、北美、非洲南部和澳大利亚等地。土豆产量高，营养丰富，对环境的适应性较强，现已遍布世界各地，热带和亚热带国家甚至在冬季或凉爽季节也可栽培并获得较高产量。</P>
	<P><STRONG>营养价值<BR></STRONG>马铃薯、红薯、芋头等薯类食物，所含营养素丰富，它所含的蛋白质和维生素C、维生素B1、维生素B2比苹果高得多，钙、磷、镁、钾含量也很高，尤其是钾的含量，可以说在蔬菜类里排第一位。薯类中含有大量的优质纤维素，有预防便秘和防治癌症等作用。那么，怎么吃薯类才能吃好呢？</P>
	<P>首先，要有量的保证，每天吃薯类食品（马铃薯、白薯、芋头）大约应在80克左右。其次是荤素搭配好，只要搭配好，可以在享受美食的同时，达到保持苗条身材的目的。在吃薯类时，要相应地减少主食的摄取，可按照薯类与主食3∶1～4∶1的比例控制。如果每天吃80克左右的薯类食品，可能有助于降低中风的危险。</P>
	<P>对于快餐中比较多的土豆泥、炸薯条，在加工过程中被氧化，破坏了大量的维生素C，使营养成分大大降低。而对于炸薯条来说，易增加脂肪的摄入量，而且炸薯条的油很难判断是否是新鲜的，加上反复高温加热，产生聚合物，像有毒物质环状单聚合物是致癌物质，所以要尽量少吃。</P>
	<P>营养学家指出，吃薯类不必担心脂肪过剩，因为它只含0、1％的脂肪，是所有充饥食物中最少的，每天多吃薯类，可以减少脂肪摄入，使多余脂肪渐渐代谢掉。</P>
	<P><STRONG>注意事项<BR></STRONG>含有一种叫生物碱为有毒物质，人体摄入大量的生物碱，会引起中毒、恶心、腹泻等反应。土豆中的生物碱属类固醇糖苷生物碱，主要为龙葵碱和卡茄碱。其结构与人类的甾体激素，如雄激素、雌激素、孕激素等性激素相类似。据国外报道，刚收获的土豆生物碱每千克20～80毫克，贮存一段时间后则上升至75～114毫克。发芽或发霉的土豆生物碱含量还会进一步增多。这种有毒的化合物，土豆皮里含量更高，因此食用时一定要去皮，特别是要削净已变绿的皮。此外，发了芽的土豆更有毒，食用时一定要把芽和芽根挖掉，并放入清水中浸泡，炖煮时宜大火。</P>
	<P><STRONG>用法用量<BR></STRONG>1、凡腐烂、霉烂或生芽较多的土豆，因含过量龙葵素，极易引起中毒，一律不能食用。</P>
	<P>2、土豆适用于炒、炖、烧、炸等烹调方法。</P>
	<P>3、土豆宜去皮吃，有芽眼的部分应挖去，以免中毒。</P>
	<P>4、土豆切开后容易氧化变黑，属正常现象，不会造成危害。</P>
	<P>5、人们经常把切好的土豆片、土豆丝放入水中，去掉太多的淀粉以便烹调。但注意不要泡得太久而致使水溶性维生素等营养流失。</P>
	<P><STRONG>食用功效<BR></STRONG>土豆味甘、性平、微凉，入脾、胃、大肠经；有和胃调中，健脾利湿，解毒消炎，宽肠通便，降糖降脂，活血消肿，益气强身，美容，抗衰老之功效。主治胃火牙痛、脾虚纳少、大便干结、高血压、高血脂等病症；还可辅助治疗消化不良、习惯性便秘、神疲乏力、慢性胃痛、关节疼痛、皮肤湿疹等症。</P>
	<P><STRONG>贴士<BR></STRONG>1、巧去土豆皮：当年出产的新土豆皮较薄且软，用刀削或刮皮既费时，又会将土豆肉一起削去。较简便的方法是：将土豆放入一个棉质布袋中扎紧口，像洗衣服一样用手揉搓，就很简单地将土豆皮去净，最后用刀剔去有芽部分即可。</P>
	<P>2、土豆去皮不宜厚，越薄越好，因为土豆皮中含有较丰富的营养物质。土豆去皮以后，如果一时不用，可以放入冷水中，再向水中滴几滴醋，可以使土豆洁白。</P>
	</div></div>
</div>