			<div class="scxgip">
				<div class="scig pvl libdm">
					<div class="scoic mrl">
						<a href="http://www.douguo.com/cookbook/1255025.html" target="_blank"><img src="../public/images/ingredient1.jpg" alt=""></a>
					</div>
					<div class="hr3"><a href="http://www.douguo.com/cookbook/1255025.html" target="_blank">Beef and potato stewed</a></div>
					<p class="pbm">Beef offers protein, fat and minerals necessary for human body.Match again potatoes, carrots, vitamin and dietary...</p>
					<p class="pbm">Main ingredient:<a target="_blank" href="#">Carrot</a>，
					<a target="_blank" href="http://www.douguo.com/ingredients/土豆">Potato</a>，
					<a target="_blank" href="#">Beef</a>，<a target="_blank" href="#">Ginger</a>，
					<a target="_blank" href="#">Onion</a> </p>
				</div>
				<div class="scig pvl libdm">
					<div class="scoic mrl">
						<a href="http://www.douguo.com/cookbook/1257754.html" target="_blank"><img src="../public/images/ingredient2.jpg" alt=""></a>
					</div>
					<div class="hr3"><a href="http://www.douguo.com/cookbook/1257754.html" target="_blank">The bean curd</a></div>
					<p class="pbm">Say to the bean curd, this food is a sichuan famous home cooking, by the end of the bean curd, beef (pork) can also be used, chili and flowers...</p>
					<p class="pbm">Main ingredient：<label class="fcbm inblok">Beef</label>，<a target="_blank" href="#">Tofu</a> </p>
				</div>
				<div class="scig pvl libdm">
					<div class="scoic mrl">
						<a href="http://www.douguo.com/cookbook/1281262.html" target="_blank"><img src="../public/images/ingredient3.jpg" alt=""></a>
					</div>
					<div class="hr3"><a href="http://www.douguo.com/cookbook/1281262.html" target="_blank">Beef Fried lettuce</a></div>
					<p class="pbm">Today this beef Fried lettuce, the meat was tender, lettuce and crunchy.While dressing is very simple, but its close to natural flavour...</p>
					<p class="pbm">Main ingredient：<a target="_blank" href="#">Beef</a>，<a target="_blank" href="#">Lettuce</a> </p>
				</div>
				<div class="mtl">
					<div class="page_PN">
						<div class="pagination">
						<span class="current">1</span>
						<span class="floblock" style="cursor: pointer;"><a href="#">2</a></span>
						<span class="floblock" style="cursor: pointer;"><a href="#">3</a></span>
						<span class="floblock" style="cursor: pointer;"><a href="#">4</a></span>
						<span class="floblock" style="cursor: pointer;"><a href="#">5</a></span>
						<span class="floblock" style="cursor: pointer;"><a href="#">Next</a></span>
						<span class="floblock" style="cursor: pointer;"><a href="#">Last</a></span>
						</div>
					</div>
				</div>
			</div>