<div class="category_use_h">Potato nutritional benefits</div>
	<div class="category_usebox mt10 clear">
	<div><div>

	<P><STRONG>Also known as potatoes, yams, egg, potato</STRONG></P>
	<P>Solanaceae genus annual herb.Is also called the potato, potato, potato, potato (Hong Kong, guangzhou people used to say), etc.Tubers edible, is an important food crops, vegetables, combination.</P>
	<P>from South America in 1570 Colombia will short day type into Europe Spain, by the artificial selection, become long sunshine type;And then spread to Asia, North America, South Africa and Australia, etc.High production, rich nutrition, good adaptability to the environment, has been all over the world, tropical and subtropical countries and even in the winter or cool season can be cultivated and a higher yield.</P>
	<P><STRONG>Nutritional value<BR></STRONG>Potatoes, sweet potatoes, taro, potato food, contains rich nutrients, it contains protein and vitamin C, vitamin B1, vitamin B2 is much taller than apple, calcium, phosphorus, magnesium, potassium content is high, especially the content of potassium, can be said to rank high in the vegetables.Potato contains a large number of high-quality fiber, have prevent constipation and prevention and treatment of cancer, and so on.So, how to eat potato to eat good？</P>
	
</div>