<div class="recipes">
	<div class="recipe-sidebar col-md-2">
		<h2>
			<s class="sidebar-head">Recipe Category</s>
		</h2>
		<div class="category-list">
			<dl ng-repeat="type in viewScope.types">
				<dt>{{type.name}}</dt>
				<dd ng-repeat="subtype in type.subtypes">{{subtype.name}}</dd>
			</dl>
		</div>
	</div>
	<div class="recipe-main col-md-10">
		
		<div class="recipes-info">
			<div ng-repeat="(key, recipe) in viewScope.recipes" class="col-xs-4 col-md-3 recipe-block">
				<div ng-if="key >= viewScope.offset * viewScope.perPage && key < (viewScope.offset + 1) * viewScope.perPage">
					<div class="image">
						<a href="#/recipes_detail/{{recipe.name}}">
							<img ng-src="/image/{{recipe.image}}" alt class="img-responsive">
						</a>
					</div>
				
					<a href="#/recipes_detail/{{recipe.name}}"><h4>{{recipe.name}}</h4>
					</a>
				</div>
			</div>
		</div>
		<div class="paginations">
			<a ng-click="viewScope.offset = viewScope.offset - 1" ng-if="viewScope.offset > 0">« PREV PAGE</a>
			<span ng-if="(viewScope.offset + 1) * viewScope.perPage < viewScope.recipes.length">
				<a ng-click="viewScope.offset = viewScope.offset + 1">NEXT PAGE »</a>
			</span>
		</div>
		<div class="pages">
		</div>
	</div>
</div>