<div class="recipes">
	<div class="recipe-sidebar col-md-2">
		<h2>
			<s class="sidebar-head">Recipe Category</s>
		</h2>
		<div class="category-list">
			<dl>
				<dt>Health</dt>
				<dd>Clearning Heat</dd>
				<dd>Eliminating phlegm</dd>
				<dd>Tonifying kidney</dd>
				<dd>Tonifying Yang</dd>
				<dd>Invigorating the stomach</dd>
				<dd>Promoting appetite</dd>
				<dd>Moistening lung</dd>
				<dd>Antitussive</dd>
				<dd>Improving eyesight</dd>
			</dl>
			<dl>
				<dt>Sickness</dt>
				<dd>Diabetes</dd>
				<dd>Hypertension</dd>
				<dd>Gout</dd>
				<dd>Gastritis</dd>
				<dd>Hemorrhoids</dd>
				<dd>Climacteric</dd>
				<dd>Thyroid enlargement</dd>
			</dl>
			<dl>
				<dt>Religion</dt>
				<dd>Buddhism</dd>
				<dd>Islam</dd>
				<dd>Christianity</dd>
			</dl>
			<dl>
				<dt>Diet</dt>
				<dd>Slimming</dd>
				<dd>Slimming face</dd>
				<dd>Slimming leg</dd>
			</dl>
			<dl>
				<dt>Crowd</dt>
				<dd>Baby</dd>
				<dd>Pregnant woman</dd>
				<dd>Lying-in woman</dd>
				<dd>old people</dd>
			</dl>
		</div>
	</div>
	<div class="recipe-main col-md-10">
		
		<div class="recipes-info">
			<li ng-repeat="animal in viewScope.dataSauterelles">
				<span style="color:{{animal.color}}">{{animal.name}}</span>
			</li>

			<div ng-repeat="recipe in viewScope.recipes" class="col-xs-4 col-md-3 recipe-block">
				<div class="image">
					<a href="#/recipes_detail/{{recipe.name}}">
						<img ng-src="../public/images/{{recipe.image}}" alt class="img-responsive">
					</a>
				</div>
				<a href="#/recipes_detail/{{recipe.name}}"><h4>{{recipe.name}}</h4>
				</a>
			</div>
		</div>
		<div class="paginations">
			<a href="#">« PREV PAGE</a>
			<span>
				<a href="#">NEXT PAGE »</a>
			</span>
		</div>
		<div class="pages">
		</div>
	</div>
</div>