<div class="recipe-detail">
	<div class="releft col-md-7">
		<div class="recipe-title">
			<h1 class="recipe_De_title">
				{{viewScope.recipe.name}}
			</h1>
			<a href="#">
				<span class="username">{{viewScope.recipe.users[0].username}}</span>
			</a>
			<span class="rtime">Posted in {{viewScope.recipe.created | date:"MM/dd/yyyy"}}</span>
		</div>
		<div class="recipe-space">
			<div class="recipeDetail">
				<div class="recipe_De_imgBox">
					<img ng-src="../public/images/{{viewScope.recipe.image}}" alt="Pumpkin cheese bread">
				</div>
				<div class="lead recipe_describe">
					<p><em>{{viewScope.recipe.description}}</em></p>
				</div>
				<div class="recipeCategory">
					<div class="row recipeCategory_sub">
						<div class="recipeCategory_sub_L">Main Ingredients</div>
						<div class="recipeCategory_sub_R">
							<ul class="list-unstyled">
								<li ng-repeat="recipeIngredient in viewScope.recipe.recipeIngredients" ng-if="recipeIngredient.mandatory == true">
									<span class="category_s1">{{recipeIngredient.ingredient.name}}</span>
									<span class="category_s2">({{recipeIngredient.quantity}})</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="row recipeCategory_sub">
						<div class="recipeCategory_sub_L">Accessories</div>
						<div class="recipeCategory_sub_R">
							<ul class="list-unstyled">
								<li ng-repeat="recipeIngredient in viewScope.recipe.recipeIngredients" ng-if="recipeIngredient.mandatory == false">
									<span class="category_s1">{{recipeIngredient.ingredient.name}}</span>
									<span class="category_s2">({{recipeIngredient.quantity}})</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="row recipeCategory_sub">
						<div class="recipeCategory_sub_L">Kitchenware</div>
						<div class="recipeCategory_sub_R">
							<ul class="list-unstyled">
								<li ng-repeat="equipment in viewScope.recipe.equipments">
									<span class="category_s1">{{equipment.name}}</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="recipeStep">
					<div class="recipeStep_title"><strong>Steps of Pumpkin cheese bread:</strong></div>
					<div ng-repeat="step in viewScope.recipe.steps" class="row recipeStep_sub">
						<div class="col-md-4 recipeStep_imgBox">
							<img ng-src="../public/images/{{step.image}}">
						</div>
						<p class="col-md-8 col-md-offest-4">
							<span><strong>{{step.level}}.</strong></span>
							{{step.text}}
						</p>
					</div>
				</div>
				<div class="recipeTips">
					<div class="tips"><strong>Tips</strong></div>
					<p>{{viewScope.recipe.tips}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="reright col-md-5">
		
	</div>
</div>