<div id="shicaijieshao" class="bkdescri mb35">
            <div class="shicnr r3">
                <h1 class="shez mb10">
                    <i class="ic_xya"></i>
                    Which food can not eat with Beef？
                </h1>
                <p class="cdnr">Beef phase grams of food: leek, orange, red pond, brown sugar, catfish, river snail, conch, chestnut, white wine</p>
            </div>
                                    <div class="scsj_r libsb">
                <h3>
                    <a href="#" title="？" target="_blank"><i class="ic_xyb"></i></a>
                    Beef+<a href="#" title="" target="_blank">Leek</a>： Can eat easy to poisoning, milk of choose and employ persons and drum juice detoxification               </h3>
            </div>
                        <div class="scsj_r libsb">
                <h3>
                    <a href="#" title="" target="_blank"><i class="ic_xyb"></i></a>
                    Beef+<a href="#" title="" target="_blank">Orange</a>： Is not conducive to the absorption of nutrients              </h3>
            </div>
                        <div class="scsj_r libsb">
                <h3>
                    <a href="#" title="" target="_blank"><i class="ic_xyb"></i></a>
                    Beef+<a href="#" title="" target="_blank">Brown sugar</a>： Eat together will cause abdominal distension               </h3>
            </div>
                        <div class="scsj_r libsb">
                <h3>
                    <a href="#" title="" target="_blank"><i class="ic_xyb"></i></a>
                    Beef+<a href="#" title="" target="_blank">Brown sugar</a>： Abdominal distension                </h3>
            </div>
                        <div class="scsj_r libsb">
                <h3>
                    <a href="#" title="" target="_blank"><i class="ic_xyb"></i></a>
                    Beef+<a href="#" title="" target="_blank">Catfish</a>： Eat together will cause poisoning, can be treated juice milk of choose and employ persons and drum               </h3>
            </div>
                        <div class="scsj_r libsb">
                <h3>
                    <a href="#" title="" target="_blank"><i class="ic_xyb"></i></a>
                    Beef+<a href="#" title="" target="_blank">Snails</a>： Not easy to digest, can cause abdominal distension               </h3>
            </div>
                        <div class="scsj_r libsb">
                <h3>
                    <a href="#" title="" target="_blank"><i class="ic_xyb"></i></a>
                    Beef+<a href="#" title="" target="_blank">Conch</a>： The body is unwell               </h3>
            </div>
                        <div class="scsj_r libsb">
                <h3>
                    <a href="#" title="" target="_blank"><i class="ic_xyb"></i></a>
                    Beef+<a href="#" title="" target="_blank">Chinese chestnut</a>： Chestnut of vitamin easy to react with trace elements in beef, weaken the nutritional value of chestnut, and not easy to digest              </h3>
            </div>
                        <div class="scsj_r libsb">
                <h3>
                    <a href="#" title="" target="_blank"><i class="ic_xyb"></i></a>
                    Beef+<a href="#" title="" target="_blank">Liquor</a>： At the same time to eat easily lose;Because beef is GanWen, tonifying qi to fire, and of product liquor belongs to large temperature, hungry to match with beef, such as fuel, easy to cause inflammation of the teeth                </h3>
            </div>
                                            </div>